*{
  margin: 0;
  padding: 0;
}
#submit{
  color: rgb(230, 220, 220);
  background-color: #000000 ;
  border: 1px solid;
  margin-top: 10px;
}

#login, #password {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 2px;
  padding:5px;
  width: 250px;
}

